<h1 class="fs-5"> List of movies</h1>
<div>
<ul>
  <% @lists.each do |list| %>
    <li> <%= link_to list.name, list_path(list)%></li>
  <% end %>
</ul>
</div>

<div class="btn btn-primary" >
<%= link_to "Create a new list", new_list_path  %>
</div>
